<%- include('../partials/header', { title: 'Student Dashboard' }) %>
<%- include('../partials/navbar', { user: user }) %>
<div class="container mt-4">
    <main class="content">
      <h2>Welcome, <%= user.name %>!</h2>
      <p>This is your dashboard.</p>

      <div class="dashboard-overview">
        
      </div>

    </main>
  </div>
  <%- include('../partials/footer') %>
